.btn {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  background-color: #0063dd;
  padding: 15px 44px;
  border-radius: 25px;
  -webkit-transition: opacity .1s linear;
  transition: opacity .1s linear;
}

.btn--header {
  position: absolute;
  top: 19px;
  right: -188px;
}

.btn--light {
  background-color: #0f7cff;
}

.btn--white {
  background-color: #fff;
  color: #0f7cff;
  border: 2px solid #0f7cff;
  padding: 13px 42px;
}

.btn--price-light {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 17px 55px;
}

.btn--price-white {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: solid 3px #0f7bff;
  border-left: none;
  padding: 14px 56px;
  position: relative;
  top: 0;
  right: 4px;
}

.btn--cards {
  padding: 16px 50px;
}

.btn--arrow {
  background: #fff;
  color: #0063dd;
  padding: 0;
  width: 175px;
  height: 50px;
}

.btn--arrow span {
  position: relative;
}

.btn--arrow span:after {
  content: "";
  background: url("../img/about/Arrow.svg") no-repeat;
  height: 40px;
  width: 76px;
  position: absolute;
  top: 4px;
  right: -92px;
}

.btn:hover {
  opacity: .7;
}
