.features {
  background: #f5fcfd;
  position: relative;
  z-index: -2;
}

.features__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 125px 0 130px;
  text-align: center;
  margin: 0 -15px;
}

.features__item {
  width: 362px;
  height: 290px;
  background: #fff;
  margin-top: 40px;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 16px 0 rgba(0, 66, 148, 0.08);
          box-shadow: 0 4px 16px 0 rgba(0, 66, 148, 0.08);
}

.features__item:nth-child(2) {
  margin-top: 40px;
}

.features__icon {
  margin-top: 40px;
}

.features__title {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 500;
}

.features__text {
  font-weight: 300;
  margin: 0 15px 47px;
}
