.news__inner {
  margin: 130px -15px 80px;
}

.news__title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 25px;
  text-align: center;
}

.news__subtitle {
  margin-bottom: 44px;
  width: 722px;
  line-height: 1.5;
  font-weight: 300;
  margin: 0 auto;
  text-align: center;
}

.news__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.left {
  width: 50%;
}

.left__photo {
  margin: 0 0 30px -20px;
}

.left__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: #0063dd;
  margin-bottom: 25px;
}

.left__text {
  margin-bottom: 35px;
  width: 543px;
  line-height: 1.5;
  font-weight: 300;
}

.right__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 166px;
  margin-bottom: -5px;
}

.right__photo {
  margin-left: -20px;
}

.right__title {
  line-height: 1.5;
  margin: 12px 0 25px;
  font-weight: 500;
  font-size: 18px;
}

.right__text {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  width: 339px;
}
