@charset "UTF-8";
@font-face {
  font-family: 'Quicksand';
  src: url("../fonts/Quicksand-Regular.eot");
  src: local("☺"), url("../fonts/Quicksand-Regular.woff") format("woff"), url("../fonts/Quicksand-Regular.ttf") format("truetype"), url("../fonts/Quicksand-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url("../fonts/Quicksand-Bold.eot");
  src: local("☺"), url("../fonts/Quicksand-Bold.woff") format("woff"), url("../fonts/Quicksand-Bold.ttf") format("truetype"), url("../fonts/Quicksand-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url("../fonts/Quicksand-Light.eot");
  src: local("☺"), url("../fonts/Quicksand-Light.woff") format("woff"), url("../fonts/Quicksand-Light.ttf") format("truetype"), url("../fonts/Quicksand-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url("../fonts/Quicksand-Medium.eot");
  src: local("☺"), url("../fonts/Quicksand-Medium.woff") format("woff"), url("../fonts/Quicksand-Medium.ttf") format("truetype"), url("../fonts/Quicksand-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input, button, textarea {
  font-family: inherit;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

body {
  font-family: 'Quicksand';
  font-size: 16px;
  color: #000;
  font-weight: 400;
}

/* Container
===================*/
.container {
  position: relative;
  width: 100%;
  max-width: 1146px;
  margin: 0 auto;
  padding: 0 15px;
  border-left: 1px #000 solid;
  border-right: 1px #000 solid;
}

/* Header
===================*/
.header {
  position: absolute;
  height: 100px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header .fixed {
  height: auto;
  position: fixed;
  background-color: #e6e8f5;
}

.header::before {
  content: "AppSon";
  padding: 22px 20px 30px;
  background-color: #0f7bff;
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  position: absolute;
  top: 0;
  left: -15%;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  top: 35px;
  right: 10px;
}

.nav__link {
  font-weight: 500;
  color: #929292;
  text-transform: uppercase;
  margin-left: 32px;
  text-decoration: none;
  opacity: .75;
  -webkit-transition: opacity .1s linear;
  transition: opacity .1s linear;
}

.nav__link:hover {
  opacity: 1;
}

.nav__link:first-child {
  margin-left: 0;
}

.nav__link.active {
  color: #0f7cff;
}

.btn {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  background-color: #0063dd;
  padding: 15px 44px;
  border-radius: 25px;
  -webkit-transition: opacity .1s linear;
  transition: opacity .1s linear;
}

.btn--header {
  position: absolute;
  top: 19px;
  right: -188px;
}

.btn--light {
  background-color: #0f7cff;
}

.btn--white {
  background-color: #fff;
  color: #0f7cff;
  border: 2px solid #0f7cff;
  padding: 13px 42px;
}

.btn--price-light {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 17px 55px;
}

.btn--price-white {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: solid 3px #0f7bff;
  border-left: none;
  padding: 14px 56px;
  position: relative;
  top: 0;
  right: 4px;
}

.btn--cards {
  padding: 16px 50px;
}

.btn--arrow {
  background: #fff;
  color: #0063dd;
  padding: 0;
  width: 175px;
  height: 50px;
}

.btn--arrow span {
  position: relative;
}

.btn--arrow span:after {
  content: "";
  background: url("./img/about/Arrow.svg") no-repeat;
  height: 40px;
  width: 76px;
  position: absolute;
  top: 4px;
  right: -92px;
}

.btn:hover {
  opacity: .7;
}

/* Intro
===================*/
.intro {
  background: url("./img/background.svg") center no-repeat;
  height: 964px;
  background-size: auto;
  overflow: hidden;
  padding-top: 170px;
  text-align: center;
}

.intro__inner {
  max-width: 655px;
  margin: 0 auto;
}

.intro__title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px;
}

.intro__text {
  font-size: 16px;
  line-height: 1.69;
  color: #929292;
  margin-bottom: 30px;
}

.intro__btns {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 380px;
  margin-bottom: 40px;
}

.device {
  position: relative;
  left: -97px;
}

.device__one {
  position: absolute;
  top: 93px;
  left: 0;
}

.device__two {
  position: absolute;
  top: 0;
  left: 36%;
  z-index: 2;
}

.device__three {
  position: absolute;
  top: 91px;
  right: -33%;
}

/* Features
===================*/
.features {
  background: #f5fcfd;
  position: relative;
  z-index: -2;
}

.features__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 125px 0 130px;
  text-align: center;
  margin: 0 -15px;
}

.features__item {
  width: 362px;
  height: 290px;
  background: #fff;
  margin-top: 40px;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 16px 0 rgba(0, 66, 148, 0.08);
          box-shadow: 0 4px 16px 0 rgba(0, 66, 148, 0.08);
}

.features__item:nth-child(2) {
  margin-top: 40px;
}

.features__icon {
  margin-top: 40px;
}

.features__title {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 500;
}

.features__text {
  font-weight: 300;
  margin: 0 15px 47px;
}

/* About
===================*/
.about {
  padding-bottom: 90px;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 69px 0 233px -15px;
}

.about__item:nth-child(even) section {
  padding-left: 0;
  padding-right: 143px;
}

.about__photo {
  position: relative;
  height: auto;
}

.about__photo:before {
  content: "";
  position: absolute;
  width: 389.71px;
  height: 482.98px;
  left: 0;
  top: -60px;
  z-index: -1;
  background: linear-gradient(272deg, #0F7BFF 4.58%, #0063DD 78.9%);
  border-radius: 40px;
  -webkit-transform: matrix(0.77, -0.64, -0.64, -0.77, 0, 0);
          transform: matrix(0.77, -0.64, -0.64, -0.77, 0, 0);
}

.about__photo:nth-child(even):before {
  top: 24px;
  left: 66px;
}

.about__description {
  padding-left: 112px;
}

.about__title {
  margin-top: 94px;
  font-size: 32px;
  font-weight: 500;
}

.about__text {
  margin: 30px 0 35px 0;
  font-weight: 300;
  width: 543px;
  line-height: 1.5;
}

/* Works
===================*/
.works {
  height: 635px;
  background: #f5fcfd;
  position: relative;
  z-index: -2;
}

.works__inner {
  padding-top: 100px;
  text-align: center;
}

.works__title {
  font-size: 32px;
  margin-bottom: 25px;
}

.works__text {
  font-weight: 300;
  width: 722px;
  padding-bottom: 45px;
  margin: 0 auto;
  line-height: 1.5;
}

.steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.steps__item {
  position: relative;
  width: 33.3333%;
  text-align: center;
}

.steps__item:nth-child(2n+2):after {
  content: "";
  position: absolute;
  border-top: 3px dashed #0f7bff;
  width: 780px;
  z-index: 1;
  top: 50px;
  right: -57%;
}

.steps__icon {
  position: relative;
  z-index: 2;
  margin-bottom: 30px;
}

.steps__title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

.steps__text {
  font-weight: 300;
  line-height: 1.5;
}

/* Price
===================*/
.price__inner {
  margin: 130px -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price__item {
  width: 392px;
}

.price__title {
  padding-top: 161px;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 30px;
}

.price__text {
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 40px;
  width: 332px;
}

.cards {
  width: 66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards__item {
  height: 576px;
  width: 362px;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 36, 80, 0.08);
          box-shadow: 0 4px 20px 0 rgba(0, 36, 80, 0.08);
}

.cards__icon {
  padding-top: 39px;
}

.cards__title {
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
}

.cards hr {
  border-top: 2px solid #e9f3f8;
  width: 303px;
  background-color: #e9f3f8;
  margin: 23px auto;
}

.cards__list li {
  font-weight: 300;
  line-height: 1.84;
}

.cards__price {
  font-size: 32px;
  font-weight: 500;
  color: #0f7bff;
  margin: 26px auto 28px;
}

.cards__price span {
  font-size: 16px;
}

/* Reviews
===================*/
.reviews {
  overflow: hidden;
  height: 601px;
  background-color: #f5fcfd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.reviews__photo {
  height: auto;
  margin-right: 98px;
}

.reviews__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__title {
  margin: 113px 0 40px;
  font-size: 32px;
  font-weight: 700;
}

.reviews__item {
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 70, 156, 0.08);
          box-shadow: 0 4px 20px 0 rgba(0, 70, 156, 0.08);
  background: #fff;
  width: 362px;
  height: 215px;
  padding: 40px 0 0 30px;
  margin-right: 30px;
  position: relative;
}

.reviews__name {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.reviews__position {
  color: #999999;
  margin-bottom: 25px;
}

.reviews__twitter {
  position: absolute;
  right: 40px;
  top: 50px;
  z-index: 2;
}

.reviews__text {
  color: #999999;
  width: 332px;
}

/* News
===================*/
.news__inner {
  margin: 130px -15px 80px;
}

.news__title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 25px;
  text-align: center;
}

.news__subtitle {
  margin-bottom: 44px;
  width: 722px;
  line-height: 1.5;
  font-weight: 300;
  margin: 0 auto;
  text-align: center;
}

.news__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.left {
  width: 50%;
}

.left__photo {
  margin: 0 0 30px -20px;
}

.left__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: #0063dd;
  margin-bottom: 25px;
}

.left__text {
  margin-bottom: 35px;
  width: 543px;
  line-height: 1.5;
  font-weight: 300;
}

.right__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 166px;
  margin-bottom: -5px;
}

.right__photo {
  margin-left: -20px;
}

.right__title {
  line-height: 1.5;
  margin: 12px 0 25px;
  font-weight: 500;
  font-size: 18px;
}

.right__text {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  width: 339px;
}

/* Trial
===================*/
.trial {
  background-color: #f5fcfd;
}

.trial__inner {
  padding: 120px 0 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 75%;
}

.trial__title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 25px;
}

.trial__subtitle {
  font-weight: 300;
}

.trial__right {
  padding-top: 34px;
  text-align: center;
  width: 50%;
}

.trial__btn {
  padding: 14px 105px 20px 71px;
  background: #0f7bff;
  border-radius: 25px;
  -webkit-transition: opacity .1s linear;
  transition: opacity .1s linear;
}

.trial__btn--arrow {
  width: 175px;
  height: 50px;
}

.trial__btn--arrow span {
  position: relative;
  color: #fff;
  font-weight: 700;
}

.trial__btn--arrow span:after {
  content: "";
  background: url("./img/icons/Arrow-trial.svg") no-repeat;
  height: 40px;
  width: 76px;
  position: absolute;
  top: 4px;
  right: -92px;
}

.trial__btn:hover {
  opacity: .7;
}

/* Widget
===================*/
.widget {
  background-color: #0f7bff;
  padding: 118px 0 119px;
}

.widget__inner {
  text-align: center;
}

.widget__title {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 30px;
}

::-webkit-input-placeholder {
  color: #fff;
}

input.widget__email {
  color: #fff;
  background-color: #0063dd;
  width: 391px;
  height: 50px;
  border-radius: 25px;
  padding-left: 28px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

input.widget__email:focus {
  border: 2px solid #0c50a3;
}

input.widget__btn {
  margin-left: -4px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 17px 40px 17px;
  color: #0063dd;
  background-color: #fff;
  border-radius: 25px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  -webkit-transition: opacity .1s linear;
  transition: opacity .1s linear;
}

input.widget__btn:hover {
  opacity: .7;
}

/* Widget
===================*/
.footer {
  background-color: #0063dd;
  color: #fff;
  font-weight: 300;
}

.footer__inner {
  margin: 0 -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 51px 0 50px;
}

.footer__copyright {
  width: 50%;
  margin-top: 9px;
}

.footer__right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__info {
  margin: 9px 0 0 37px;
}

.footer__info a {
  width: 70%;
  color: #fff;
  font-weight: 300;
  margin-right: 32px;
  -webkit-transition: opacity .1s linear;
  transition: opacity .1s linear;
}

.footer__info a:last-child {
  margin-right: 0;
}

.footer__info a:hover {
  opacity: .7;
}

.social {
  width: 30%;
  text-align: right;
}

.social__item {
  margin-right: 10px;
  -webkit-transition: opacity .1s linear;
  transition: opacity .1s linear;
}

.social__item:last-child {
  margin-right: 0;
}

.social__item:hover {
  opacity: .7;
}

/* Media queries
===================*/
@media (max-width: 1800px) {
  .header:before {
    left: 0;
  }
  .btn--header {
    top: 22px;
    right: 8px;
  }
  .nav {
    right: 207px;
  }
  .about__description {
    padding-left: 41px;
  }
  .about__item {
    margin-bottom: 140px;
  }
  .works__title {
    font-size: 37px;
  }
  .works__text {
    font-size: 20px;
  }
  .steps__title {
    font-size: 20px;
  }
  .steps__text {
    font-size: 18px;
  }
}

@media (max-width: 1400px) {
  .intro__text {
    font-size: 18px;
  }
  .features__inner {
    width: 75%;
    padding: 41px 0 110px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .features__item {
    margin: 40px 20px 0;
  }
  .features__title {
    font-size: 24px;
  }
  .features__text {
    font-size: 18px;
    line-height: 1.2;
  }
  .about__inner {
    margin: 0 60px;
  }
  .about__text {
    font-size: 20px;
    width: 477px;
  }
}
