.trial {
  background-color: #f5fcfd;
}

.trial__inner {
  padding: 120px 0 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 75%;
}

.trial__title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 25px;
}

.trial__subtitle {
  font-weight: 300;
}

.trial__right {
  padding-top: 34px;
  text-align: center;
  width: 50%;
}

.trial__btn {
  padding: 14px 105px 20px 71px;
  background: #0f7bff;
  border-radius: 25px;
  -webkit-transition: opacity .1s linear;
  transition: opacity .1s linear;
}

.trial__btn--arrow {
  width: 175px;
  height: 50px;
}

.trial__btn--arrow span {
  position: relative;
  color: #fff;
  font-weight: 700;
}

.trial__btn--arrow span:after {
  content: "";
  background: url("../img/icons/Arrow-trial.svg") no-repeat;
  height: 40px;
  width: 76px;
  position: absolute;
  top: 4px;
  right: -92px;
}

.trial__btn:hover {
  opacity: .7;
}
