.header {	
	// относительно контейнера
	position: absolute;
	height: 100px;
	width: 100%;
   top: 0;
   left: 0;
    z-index: 1000;
	 &.fixed {
		position: fixed;
		background-color: rgba(15, 123, 255, .8);
		height: 70px;
		&:before{
			padding: 9px 20px 24px;
		}
		.btn--header{
			top: 13px;
		}
		.nav{
			top: 27px;
		}
		.nav__link {
			color: #fff;
			&.active{
				color: #0a366b;
			}
		}
  }
	&:before {
		content: "AppSon";
		padding: 22px 20px 30px;
		background-color: #0f7bff;

		color: #fff;
		font-size: 36px;
		font-weight: 700;
		border-bottom-left-radius: 17px;
		border-bottom-right-radius: 17px;

		position: absolute;
		top: 0;
    	left: -15%;
	}
}
/* Nav */
.nav {
	display: flex;
	justify-content: flex-end;
	position: absolute;
	top: 35px;
	right: 10px;
	&__link {
		font-weight: 500;
		color: #929292;
		text-transform: uppercase;
		margin-left: 32px;
		text-decoration: none;

		opacity: .75;
    	transition: opacity .1s linear;
		 &:hover{
			opacity: 1;
		 }
		&:first-child {
			margin-left: 0;
	  	}
		&.active{
			color: #0f7cff;
		}
		&.navburger{
			display: none;
		}
	}
}

/* Burger */
.burger {
	display: none;
	padding: 28px 2px;
	position: absolute;
	right: 0;
	background: none;
	border: 0;
	cursor: pointer;

	&__item {
		display: block;
		width: 60px;
		height: 10px;
		background-color: #0063dd;
		font-size: 0;
		color: transparent;
		position: relative;
		&:before,&:after {
			content: "";
			height: 100%;
			background-color: #0063dd;
			position: absolute;
			right: 0;
			z-index: 1;
		}
		&:before{
			width: 60px;
			top: -19px;
		}
		&:after{
			width: 60px;
			bottom: -19px;
		}
	}
}