@font-face {
	font-family: 'Quicksand';
	src: url('../fonts/Quicksand-Regular.eot');
	src: local('☺'), url('../fonts/Quicksand-Regular.woff') format('woff'), url('../fonts/Quicksand-Regular.ttf') format('truetype'), url('../fonts/Quicksand-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Quicksand';
	src: url('../fonts/Quicksand-Bold.eot');
	src: local('☺'), url('../fonts/Quicksand-Bold.woff') format('woff'), url('../fonts/Quicksand-Bold.ttf') format('truetype'), url('../fonts/Quicksand-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Quicksand';
	src: url('../fonts/Quicksand-Light.eot');
	src: local('☺'), url('../fonts/Quicksand-Light.woff') format('woff'), url('../fonts/Quicksand-Light.ttf') format('truetype'), url('../fonts/Quicksand-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Quicksand';
	src: url('../fonts/Quicksand-Medium.eot');
	src: local('☺'), url('../fonts/Quicksand-Medium.woff') format('woff'), url('../fonts/Quicksand-Medium.ttf') format('truetype'), url('../fonts/Quicksand-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@import "_nullstyle.scss";
@import "_header.scss";
@import "_btns.scss";
@import "_intro.scss";
@import "_features.scss";
@import "_about.scss";
@import "_works.scss";
@import "_price.scss";
@import "_reviews.scss";
@import "_news.scss";
@import "_trial.scss";
@import "_widget.scss";
@import "_footer.scss";

// *{
// outline: 1px solid red;
// }

body{
	font-family: 'Quicksand';
	font-size: 16px;
	color: #000;
	font-weight: 400;
}

/* Container
===================*/
.container{
	position: relative;
	width: 100%;
	max-width: 1146px;
	margin: 0 auto;
	padding: 0 15px;
	// border-left: 1px #000 solid;
	// border-right: 1px #000 solid;
}

/* Media queries
===================*/
// 320px — 480px: мобильные устройства;
// 481px — 768px: планшеты;
// 769px — 1024px: маленькие экраны, ноутбуки;
// 1025px — 1200px: большие экраны;
// 1201px и больше — очень большие экраны, телевизоры.

// (min 320px, max 1920px). 
// Вёрстка должна поддерживать широкий монитор (2560x1080);

/* ----------------1800px-------------*/
@media (max-width: 1800px) {
	// header
	.header:before{
		left: 0;
	}
	.btn--header {
		top: 22px;
		right: 8px;
	}
	.nav{
		right: 207px;
	}
	//about
	.about{
		// &__inner {
		// 	margin: 0 60px;
		// }
		&__item{
			margin-bottom: 148px;
		}
		&__description {
			padding-left: 41px;
			width: 550px;
		}
		&__text {
			font-size: 20px;
			width: auto;
		}
	}
	//works
	.works{
		&__title{
			font-size: 37px;
		}
		&__text{
			font-size: 20px;
		}
	}
	.steps{
		&__title{
			font-size: 20px;
		}
		&__text{
			font-size: 18px;
		}
	}
	//price
	.price{
		&__text{
			font-size: 18px;
		}
	}
	.cards {
		&__title {
			font-size: 20px;
		}
		&__list li{
			font-size: 18px;
		}
	}
	//reviews
	.reviews{
		&__photo img{
			width: 600px;
			height: auto;
		}
	}

}
/* ----------------1400px-------------*/
@media (max-width: 1400px) {
	//intro
	.intro{
		&__text{
			font-size: 18px;
		}

	}
	.device {
		&__one{
			left: 44px;
		}
		
		&__three {
			right: -29%;
		}
	}
	// Features
	.features {
		&__inner {
			width: 75%;
			padding: 41px 0 110px;
			margin: 0 auto;
			display: flex;
			justify-content: center;
		}
		&__item {
			margin: 40px 20px 0;
		}
		&__title{
			font-size: 24px;
		}
		&__text{
			font-size: 18px;
			line-height: 1.2;
		}
	}
	//About
	.about{
		&__inner{
			padding-top: 60px;
		}
		&__item{
			display: block;
			margin-left: 0;
			margin-bottom: 0;
			margin-top: 0;
			&:nth-child(even) section {
				padding-right: 0;
			}
			&:nth-child(even)  {
   		 display: flex;
			flex-flow: column-reverse;
			}
		}
		&__title{
			margin-top: 0px;
		}
		&__photo{
			text-align: center;
			margin-bottom: 117px;
			margin-top: 30px;
			&:before {
				max-width: 350px;
				max-height: 440px;
				left: 253px;
			}
			&:nth-child(even):before {
				left: 306px;
			}
		}
		&__description{
			margin: 0 auto;
			padding-left: 0;
			text-align: center;
		}
	}
	// Works
	.works{
		&__inner {
			padding: 64px 0;
		}
	}
	//price
	.price{
		&__inner{
			margin: 71px -15px;
			flex-wrap: wrap;
			justify-content: center;
		}
		&__title{
			padding-top: 0;
			text-align: center;
		}
		
		&__text{
			width: auto;
			text-align: center;
		}
		&__btns{
			text-align: center;
		}
	}
	.cards{
		margin-top: 35px;
		// width: 69%;
		&__item:first-child{
			margin-right: 30px;
		}
	}
	//reviews
	.reviews{
		&__title{
			width: 373px;
			margin-top: 39px;
			line-height: 1.5;
			font-size: 30px;
			margin-bottom: 20px;
		}
		&__photo img{
			width: 500px;
			height: auto;
		}
	}
	//news
	.news{
		&__inner{
			padding: 0 30px;
			margin: 75px -15px 10px;
		}
		&__subtitle {
			font-size: 18px;
		}
		&__content {
			display: block;
			margin-top: 10px;
		}
	}
	.left{
		width: auto;
		display: flex;
    	flex-direction: column;
    	align-items: center;
		 &__photo{
			width: 65%;
		 }
		&__text {
			font-size: 18px;
			text-align: center;
			max-width: 582px;
		}
	}
	.right {
		display: flex;
    flex-direction: column;
    align-items: center;
		&__title {
			font-size: 20px;
		}
		&__text {
			font-size: 18px;
		}
	}
	//trial
	.trial{
		&__inner{
			padding: 85px 0 110px;
		}
	}
	//widget
	.widget{
		padding-top: 85px;
	}
	//footer
	.footer{
		&__copyright{
			padding-left: 50px;
		}
		&__info{
			margin-left: 0;
		}
	}
}

/* ----------------1024px-------------*/
@media (max-width: 1024px) {
	//header
	.nav {
		&__link{
		font-size: 20px;
		}
	}
	//about
	.about{
		padding-bottom: 29px;
	  
		&__text{
			width: auto;
		}
	}
	//works
	.steps{
		display: block;
		&__icon{
			position: relative;
			margin-right: 50px;
		}
		&__item{
			text-align: left;
			margin: 0 auto 30px;
			display: flex;
			width: 66%;
			&:nth-child(2n+2):after {
				display: none;
				width: 355px;
				right: 43%;
				transform: rotate(90deg);
			}
		}
		&__text{
			line-height: 1.2;
		}
	}
	//price
	.price__item{
		margin-right: 0;
	}
	//reviews
	.reviews{
		&__item{
			font-size: 110%;
			padding: 28px 25px;
		}
		
		&__photo{
			margin-right: 98px;
			width: 440px;
    		height: auto;
		}
		&__title{
			margin-top: 21px;
    		font-size: 25px;
		}
	}
	//footer
	.footer {
		display: block;
		font-size: 20px;
		&__copyright {
			margin-right: 36px;
			line-height: 1.5;
		}
		&__right {
			width: 40%;
		}
		&__info a{
			width: auto;
			display: block;
			padding-bottom: 22px;
		}
		
	}
}

/* ----------------915px-------------*/
@media (max-width: 915px) {
	//reviews
	.reviews{
		flex-direction: column;
		&__photo{
			margin-right: 98px;
			width: 220px;
    		height: auto;
			 position: relative;
			 &:after{
				padding-right: 37px;
				position: absolute;
				content: "Trusted By More Than 55M People";
				line-height: 1.5;
				top: 30%;
				width: 260px;
				height: 275px;
				left: 213%;
				font-size: 31px;
				font-weight: 700;
			 }
			 img{
				 width: 434px;
			 }
		}
		&__title{
			display: none;
		}
		&__block{
			padding: 38px 15px;
		}
	}
	//trial
	.trial{
		&__inner{
		 justify-content: center;
		 align-items: center;
		 flex-direction: column;
		 width: auto;
		 padding: 66px 0;
		}
		&__left{
		 text-align: center;
		}
	}
}

/* ----------------800px-------------*/
@media (max-width: 800px) {
	//header
	.header.fixed {
		.nav__link {
			color: #000;
			&.active{
				color: #0063dd;
			}
		}
	}

	.nav {
	  display: none;
	  width: 100%;
		padding: 10px 0 ;

	  position: absolute;
	  top: 88%;
	  left: 0;
	//   background: #0063dd;
		background: #fff;

	  flex-direction: column;
	  &__link{
		  opacity: 1;
		//   color: #fff;
			color: #000;
		  display: block;
			margin: 0;
			padding: 12px 20px;
			text-align: right;

			border-bottom: 1px solid #b4cbe7;
			&:first-child{
				border-top: 1px solid #b4cbe7;
			}
			&.active{
				// color: #032247;
				color: #0063dd;
				background: rgb(221, 231, 253);
	 		 }
			&.navburger{
				display: block;
			}
		}
		&.show{
			display: flex;
		}
	//   &.active {
	// 	display: block;
	//  }
	}
	.btn--header {
		display: none;
	}
	.burger {
		display: block;
  }
  //intro
  .intro{
	padding-top: 136px;
	  height: 862px;
  }
  .device {
	  left: -88px;
	&__one{
		max-width: 269px;
	}
	&__two {
		left: 35%;
		max-width: 343px;
	}
	&__three {
		max-width: 279px;
		left: 74%;
	}
  }
  
  //about
  .about{
 		&__photo{
			 img{
				padding: 0 30px;
			 }
			&:before{
			 left: 146px;
			 }
			 &:nth-child(even):before {
				left: 146px;
			}
 		 }
	}
  //works
  .works{
	  &__inner{
		padding-bottom: 4px;
	  }
		&__text{
			padding: 0 56px 45px;
		}
  }
  //price
  .cards{
	  &__item{
		max-width: 316px;
	  }
	  hr{
		width: 254px;
	  }
  }
  
}


/* ----------------750px-------------*/
@media (max-width: 800px) {
	//intro
	.intro{
		height: 771px;
	  }
	.device {
		left: -49px;
	 &__one{
		 max-width: 244px;
	 }
	 &__two {
		 max-width: 301px;
	 }
	 &__three {
		 max-width: 254px;
		 left: 68%;
	 }
	}
}

/* ----------------705px-------------*/
@media (max-width: 705px) {
	//intro
	.intro{
		&__title {
			font-size: 28px;
			}
		&__text {
				font-size: 16px;
		}
	}
	//features
	.features{
		&__inner{
			padding: 0 0 30px;
		}
		&__icon{
			margin-top: 10px;
		}
	}
	//price
	.cards{
		flex-direction: column;
		&__item{
			width: 100%;
			&:first-child {
				margin: 0 auto 33px;
			}
		}
	}
	//reviews
  .reviews__photo{
		img{
			width: 400px;
		}
		&:after{
			left: 196%;
		}
		img {
		width: 400px;
	}
}
  //news
	.left{
		&__title{
			text-align: center;
		}
		&__photo{
			width: 75%;
		}
		&__text{
			width: 100%;
		}
}

	//footer
	.social {
		margin-right: 30px;
		&__item {
			display: flex;
			flex-direction: column;
			width: 28px;
			height: 20px;
			margin: 15px 0;
		}
	}
}

/* ----------------620px-------------*/
@media (max-width: 620px) {
	//about
.about{
	&__photo{
		img{
			padding: 0 64px;
		}
		&:before{
			left: 76px;
			max-width: 301px;
			max-height: 397px;
		}
		&:nth-child(even):before {
			left: 76px;
			}
		}
	&__description{
		padding-top: 41px;
	}
}
	//news
	.news__inner{
		margin-top: 21px;
	}
	.right{
		&__photo {
			margin-left: 0;
		}
		&__title{
			margin-bottom: 27px;
		}
		&__text{
			font-size: 15px;
		}
}
	//reviews
	.reviews{
		&__photo:after {
			display: none;
		}
		&__title {
			display: block;
			margin: 0 auto;
			text-align: center;
			margin-bottom: 20px;
		}
	}
	//widget
	input.widget__email {
		width: 318px;
	}
}
/* ----------------550px-------------*/
@media (max-width: 550px) {
	.about{
		&__description{
			width: 100%;
		}
		&__photo{
			margin-bottom: 87px;
			img {
				padding: 0;
				width: 72%;
				margin-bottom: 86px;
			}
			&:before{
				height: 326px;
    			width: 251px;
			}
			&:nth-child(even){
				img{
					width: 59%;
				}
				&:before {
					height: 326px;
					width: 251px;
					}
				}
		}
		&__title{
			margin-top: -107px;
		}
	}
	//news
	.left{
		&__text{
			width: 100%;
		}
		&__photo{
			width: 90%;
		}
	}
	.right{
		&__item{
			margin: 15px 0 0;
			display: flex;
    		flex-wrap: wrap;

		}
		&__photo{
			margin: 0 auto;
		}
		&__description{
			margin: 0 auto;
		}
		&__title{
			margin: 9px 0 7px;
			font-size: 18px;
			margin: 0 auto;
			text-align: center;
		}
		&__text{
			font-size: 16px;
			margin: 7px auto;
			text-align: center;
		}
	}
	//trial
	.trial
	&__inner{
		padding: 26px 0 65px;
	}
	// &__right{
	// 	width: auto;
	// }
	&__btn {
		padding: 14px 61px 14px 51px;
		}
	input.widget__email {
			max-width: 237px;
		}
}

/* ----------------460px-------------*/
@media (max-width: 460px) {
	//header
	.burger{
		&__item{
			height: 6px;
			width: 50px;
			&:after{
				bottom: -13px;
				width: 50px;
			}
			&:before{
				top: -13px;
				width: 50px;
			}
		}
	}
	//inner
	.device{
		margin-right: 101px;
		&__one{
			left: 16px;
		}
		&__two {
			max-width: 252px;
			left: 40%;
			top: 19px;

		}
		&__three{
			max-width: 167px;
    		left: 101%;
		}
	}
	//works{
		.works{
			&__inner{
				padding: 14px 0;
			}
		}
		.steps{
			&__item{
				display: block;
				text-align: center;
			}
			
			&__icon{
				margin-right: 0;
			}
		}
	//price
	.price__inner {
		margin: 37px 0px;
	}
	//trial
	.trial{
		&__right{
		max-width: 80%;
		}
	}
}

/* ----------------425px-------------*/
@media (max-width: 425px) {
	//intro
	.intro{
		height: 704px;
		&__btns{
			margin-bottom: 0;
			flex-direction: column;
			width: 200px;
			height: 119px;
		}
	}
	//features
	.features{
		&__item{
			height: auto;
		}
		&__text {
			font-size: 16px;
			margin: 0 0 12px;
		}
	}
	//about
	.about{
		padding-bottom: 0;
		&__photo{
			&:before {
				height: 287px;
				width: 213px;
			}
			&:nth-child(even):before{
				height: 287px;
				width: 213px;
		  }
		}
		&__text{
			font-size: 16px;
		}
	}
	//works
	.works{
		&__title {
			font-size: 32px;
		}
		&__text{
			font-size: 18px;
		}
	}
	.steps{
		&__text{
			font-size: 16px;
		}
	}
	//reviews
	.reviews{
	&__photo img {
		width: 327px;
	}
	&__title{
		font-size: 20px;
		width: 181px;
	}
	&__item{
		padding: 28px 7px;
	}
	&__text{
		width: 219px;
		font-size: 16px;
	}
}
	//trial
	.trial{
		&__inner{
			padding: 43px 0;
		}
		&__title{
			font-size: 30px;
		}
		&__btn{
			padding: 14px 61px 20px 39px;
		}
	}
	.widget {
		padding-top: 34px;
		padding-bottom: 33px;
	}
	input{
		&.widget{
			&__email {
				text-align: center;
				padding-left: 0px;
				margin-bottom: 20px;
				border-radius: 25px;
			}
			&__btn {
				border-radius: 25px;
			}
		}
	}
	//footer
	.footer{
		&__inner{
			font-size: 14px;
			margin: 0;
			flex-wrap: wrap;
			padding-top: 38px;
		}
		&__copyright {
			padding: 0;
			margin: 0 0 15px;
			text-align: center;
			width: 100%;
		}
		&__right{
			width: 100%;
			justify-content: space-around;
		}
	}
	.social{
		margin-right: 0;
		&__item{
			margin: 0 0 20px;
		}
	}
}

/* ----------------425px-------------*/
@media (max-width: 425px) {
	//about
	.about{
		&__photo{
			img{
				width: 75%;
			}
			&:before {
				height: 260px;
				width: 186px;
			}
			&:nth-child(even):before{
				height: 260px;
				width: 186px;
				left: 57px;
				top: 0;
			}
		}
	}
	//price
	.cards__item {
		padding: 8px;
	}
}

/* ----------------350px-------------*/
@media (max-width: 350px) {
	//intro
	.intro {
		height: 778px;
	}
	//about
	.about{
		&__photo{
			margin-bottom: 31px;
			img{
				width: 80%;
			}
			&:before {
				height: 216px;
				width: 153px;
				left: 46px;
				top: -44px;
			}
			&:nth-child(even):before{
				height: 216px;
				width: 153px;
				
			}
		}
	}
	//news
	.news{
		&__title {
			font-size: 28px
		}
		&__subtitle {
			font-size: 17px;
		}
	}
	//widget
	input.widget__btn {
		padding: 12px 32px 13px;
	}
}