@font-face {
	font-family: 'Quicksand';
	src: url('../fonts/Quicksand-Regular.eot');
	src: local('☺'), url('../fonts/Quicksand-Regular.woff') format('woff'), url('../fonts/Quicksand-Regular.ttf') format('truetype'), url('../fonts/Quicksand-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Quicksand';
	src: url('../fonts/Quicksand-Bold.eot');
	src: local('☺'), url('../fonts/Quicksand-Bold.woff') format('woff'), url('../fonts/Quicksand-Bold.ttf') format('truetype'), url('../fonts/Quicksand-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Quicksand';
	src: url('../fonts/Quicksand-Light.eot');
	src: local('☺'), url('../fonts/Quicksand-Light.woff') format('woff'), url('../fonts/Quicksand-Light.ttf') format('truetype'), url('../fonts/Quicksand-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Quicksand';
	src: url('../fonts/Quicksand-Medium.eot');
	src: local('☺'), url('../fonts/Quicksand-Medium.woff') format('woff'), url('../fonts/Quicksand-Medium.ttf') format('truetype'), url('../fonts/Quicksand-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@import "nullstyle.scss";
@import "header.scss";
@import "btns.scss";
@import "intro.scss";
@import "features.scss";
@import "about.scss";
@import "works.scss";
@import "price.scss";
@import "reviews.scss";
@import "news.scss";
@import "trial.scss";
@import "widget.scss";
@import "footer.scss";

// *{
// outline: 1px solid red;
// }

body{
	font-family: 'Quicksand';
	font-size: 16px;
	color: #000;
	font-weight: 400;
}

/* Container
===================*/
.container{
	position: relative;
	width: 100%;
	max-width: 1146px;
	margin: 0 auto;
	padding: 0 15px;
	border-left: 1px #000 solid;
	border-right: 1px #000 solid;
}


/* Media queries
===================*/
// 320px — 480px: мобильные устройства;
// 481px — 768px: планшеты;
// 769px — 1024px: маленькие экраны, ноутбуки;
// 1025px — 1200px: большие экраны;
// 1201px и больше — очень большие экраны, телевизоры.


// (min 320px, max 1920px). 
// Вёрстка должна поддерживать широкий монитор (2560x1080);

/* ----------------1800px-------------*/
@media (max-width: 1800px) {
	// header
	.header:before{
		left: 0;
	}
	.btn--header {
		top: 22px;
		right: 8px;
	}
	.nav{
		right: 207px;
	}
	//about
	.about{
		&__inner {
			margin: 0 60px;
		}
		&__item{
			margin-bottom: 148px;
		}
		&__description {
			padding-left: 41px;
			width: 550px;
		}
		&__text {
			font-size: 20px;
			width: auto;
		}
	}
	//works
	.works{
		&__title{
			font-size: 37px;
		}
		&__text{
			font-size: 20px;
		}
	}
	.steps{
		&__title{
			font-size: 20px;
		}
		&__text{
			font-size: 18px;
		}
	}
	//reviews
	.reviews{
		&__photo img{
			width: 600px;
			height: auto;
		}
	}

}
/* ----------------1400px-------------*/
@media (max-width: 1400px) {
	//intro
	.intro{
		&__text{
			font-size: 18px;
		}
	}
	// Features
	.features {
		&__inner {
			width: 75%;
			padding: 41px 0 110px;
			margin: 0 auto;
			display: flex;
			justify-content: center;
		}
		&__item {
			margin: 40px 20px 0;
		}
		&__title{
			font-size: 24px;
		}
		&__text{
			font-size: 18px;
			line-height: 1.2;
		}
	}
	//About
	.about{
		&__title{
			margin-top: 0px;
		}
		&__photo:nth-child(even):before {
			left: 17px;
		}
	}
		
	// Works
	.works{
		height: 538px;
		&__inner {
			padding-top: 64px;
		}
	}
	//price
	.price{
		&__inner{
			margin: 71px -15px;
			flex-wrap: wrap;
			justify-content: center;
		}
		&__title{
			padding-top: 0;
			text-align: center;
		}
		&__text{
			width: auto;
		}
		&__btns{
			text-align: center;
		}
	}
	.cards{
		margin-top: 35px;
		width: 69%;
		&__item:first-child{
			margin-right: 50px;
		}
	}
	//reviews
	.reviews{
		&__title{
			width: 373px;
			margin-top: 39px;
			line-height: 1.5;
			font-size: 30px;
			margin-bottom: 20px;
		}
		&__photo img{
			width: 500px;
			height: auto;
		}
	}
	//news
	.news{
		&__inner{
			margin: 75px -15px 10px;
		}
		&__content{
			flex-wrap: wrap;
			justify-content: center;
		}
	}
	.left{
		width: auto;
		&__photo{
			text-align: center;
		}
	}
	//trial
	.trial{
		&__inner{
			padding: 85px 0 110px;
		}
	}
	//widget
	.widget{
		padding-top: 85px;
	}
	//footer
	.footer{
		&__copyright{
			padding-left: 50px;
		}
		&__info{
			margin-left: 0;
		}
	}
	.social{
		padding-right: 20px;
	}
}

/* ----------------1024px-------------*/
@media (max-width: 1024px) {
	.about{
		&__text{
			width: auto;
		}
	}
}